App {
  width: 80%;
  height: auto;
  margin-left: 50px;
  border: 2px solid blue;
}

input {
  background-color: yellow;
  color: rgb(144, 14, 14);
  margin-left: 20px;
}

button {
  background-color: black;
  color: white;
  margin-left: 20px;

}
